<?xml version="1.0"?>
<config>
    <modules>
        <Reseller_Contact>
            <version>1.0.3.1</version>
        </Reseller_Contact>
    </modules>
    <frontend>
        <routers>
            <reseller>
                <use>standard</use>
                <args>
                    <module>Reseller_Contact</module>
                    <frontName>reseller</frontName>
                </args>
            </reseller>
        </routers>
        <layout>
            <updates>
                <reseller>
                    <file>reseller.xml</file>
                </reseller>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <reseller>
                <class>Reseller_Contact_Model</class>
                <resourceModel>reseller_mysql4</resourceModel>
            </reseller>
            <reseller_mysql4>
                <class>Reseller_Contact_Model_Mysql4</class>
                <entitie>
                    <reseller>
                        <table>reseller</table>
                    </reseller>
                </entities>
            </reseller_mysql4>
        </models>
        <resources>
            <reseller_setup>
                <setup>
                    <module>Reseller_Contact</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </reseller_setup>
            <reseller_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </reseller_write>
            <reseller_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </reseller_read>
        </resources>
        <blocks>
            <reseller>
                <class>Reseller_Contact_Block</class>
            </reseller>
        </blocks>
        <helpers>
            <reseller>
                <class>Reseller_Contact_Helper</class>
            </reseller>
        </helpers>
    </global>
    <default>
        <contacts>
            <reseller>
                <send_to><![CDATA[hello@example.com]]></send_to>
                <redirect_to><![CDATA[/reseller/?thanks]]></redirect_to>
            </reseller>
        </contacts>
    </default>
</config>