<?xml version="1.0"?>
<config>
    <modules>
		<Ip_Redirection>
			<version>1.0.0</version>
		</Ip_Redirection>
	</modules>
    <global>
        <helpers>
			<redirection>
				<class>Ip_Redirection_Helper</class>
			</redirection>
		</helpers>
        
        <models>
			<redirection>
				<class>Ip_Redirection_Model</class>
			</redirection>
		</models> 
	    
    </global>
    <frontend>
        <routers>
            <redirection>
                <use>standard</use>
                <args>
                    <module>Ip_Redirection</module>
                    <frontName>redirection</frontName>
                </args>
            </redirection>
        </routers>
        <events>
            <customer_login>
                <observers>
                    <redirection>
                        <class>redirection/observer_customer</class>
                        <method>customerLogin</method>
                    </redirection>
                </observers>
            </customer_login>
            <customer_register_success>
		        <observers>
		          <redirection>
		            <class>redirection/observer_customer</class>
                    <method>customerRegistration</method>
		          </redirection>
		        </observers>
		    </customer_register_success>
			<controller_action_postdispatch_customer_account_logout>
		        <observers>
		          <redirection>
		            <class>redirection/observer_customer</class>
                    <method>customerLogout</method>
		          </redirection>
		        </observers>
		    </controller_action_postdispatch_customer_account_logout>
        </events>
    </frontend>
</config>